:root{
  --background: #ffffff;
  --primary:#000000;
  --radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Inter,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--background);
  color: var(--primary);
}

button {  
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
}

img {
  width: 100%;
  height: auto;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 70%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 70%;
  margin-top: 1rem;
}

#howto {
  border: 2px solid var(--primary);
  border-radius: var(--radius);
  padding: 1rem
}

summary, p {
  font-size: 1rem;
  color: var(--primary);
}

main {
  width: 70%;
  height: 50%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logoWrapper {
  display: flex;
  align-items: center;
  width: 100px;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socialLink {
  width: 32px;
  height: 32px;
}

.card {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--radius);
  overflow: hidden;
}

.arabicLetter {
  width: 100%;
  height: 100%;
  font-family: 'Amiri', serif;
  font-size: 5rem;
  border: 2px solid var(--primary);
  border-radius: var(--radius);
}

.transcription {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  border-radius: var(--radius);
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.shuffle {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--primary);
  border-radius: var(--radius);
}

.previous, .next {
  padding: 0.5rem;
  font-size: 2rem;
  border: 2px solid var(--primary);
  border-radius: var(--radius);
}

.counter {
  font-weight: 500;
}

@media (min-width: 768px) {
  header, .info, main {
    max-width: 700px;
  }
}